{% extends "sidebar.html"%}
{%block body%}
    <h3>
        Summary of Results:
    </h3>
    <b>Balanced Accuracy Score</b> {{accuracy}}%
    {{confusion|safe}}
    <br>
    <br>
    <a href ="http://127.0.0.1:5000/classification-analysis">Back</a>
    <br>
    
    <hr>
    <p>Note: The Balanced Accuracy Score has been used in the literature when
        we have unbalanced groups as an alternate classification accuracy metric,
        essentially, we average the classification rates over the different groups.
    </p>

    
{%endblock%}